- posts = partial('_partials/posts', { postlimit: 1 })
- latest = posts[0]

.post-content.addr
  :markdown

article.post
  header.post-header
    h2.title
      a(href="#{latest.relative}") Latest: #{ latest.title }
  section.post-excerpt.post-content
    - content = partial('blog/' + latest.slug);

    if content.split(/<!--\s*more\s*-->/).length > 1
      != content.split(/<!--\s*more\s*-->/)[0].replace(/<h1>.*?<\/h1>/, '').trim()
    else if content.split('<hr>').length > 1
      != content.split('<hr>')[0].replace(/<h1>.*?<\/h1>/, '').trim()
    else
      != content.split('<p>').slice(0, 4).join('<p>').replace(/<h1>.*?<\/h1>/, '').trim()
    p
      a(href="#{latest.relative}") Read the rest of this entry &raquo;

article.post.lists
  header.post-header
    h2.title Recently Updated
  .post-content
    ul
      each post in recent
        li
          a(href="#{ public.blog._data[post.slug].relative }") #{ public.blog._data[post.slug].title }
          small &nbsp; updated #{ moment(post.date).format('D-MMM YYYY') }
